<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Chatroom: <%= roomName %></title>
	</head>
	<body>
		<h1><%= roomName %></h1>
		<ul>
			<% for (chat of chats) { %>
			<li>
				Author: <%= chat.author %>
				<br />
				Message: <%= chat.message %>
			</li>
			<% } %>
		</ul>
		<form action = "/room/<%=roomID%>" id = "createForm" method = "post">
			name:<input type="text" id = "filler1" name = "author" value = ""><br><br>
			message: <input type="text" id = "filler2" name = "message" value = ""><br><br>
			<button>Submit</button>
		 </form>
	</body>

	<script type="text/javascript">
		setInterval(() => {
			location.reload();
		}, 5000);
	</script>
</html>
